body{
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}
.half-width img{
    width: 100%;
}